@page
@model Currency_Converter.Pages.ConvertModel
@{
	ViewData["Title"] = "Convert Currency";
}

<h1>Convert Values</h1>
<p>Choose the values</p>

<form method="post">
	<div class="form-group">
		<!-- ASP-For on labels generates the captions on labels -->
		<label asp-for="Input.CurrencyFrom"></label>
		<select class="form-control dropdown" asp-for="Input.CurrencyFrom" asp-items="Model.CurrencyCodes">
			<option value=""></option>
		</select>
		<span asp-validation-for="Input.CurrencyFrom" class="text-danger"></span>
	</div>
	<div class="form-group">
        <label asp-for="Input.Quantity"></label>
		<!-- ASP-For on inputs generates the correct type, value, name and validation attributes -->
        <input class="form-control" asp-for="Input.Quantity" />
        <span asp-validation-for="Input.Quantity" class="text-danger"></span>
    </div>
	<div class="form-group">
		<label asp-for="Input.CurrencyTo"></label>
		<select class="form-control dropdown" asp-for="Input.CurrencyTo" asp-items="Model.CurrencyCodes">
			<option value=""></option>
		</select>
		<span asp-validation-for="Input.CurrencyTo" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
	<div asp-validation-summary="All" class="text-danger"></div>
</form>
