@page
@model CurrencyConverterValidated.Pages.Currency.Success

@{
    ViewData["Title"] = "Success";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
<h1>Success!</h1>
<p>The values you submitted were valid!</p>
</body>
</html>