@page "{name}"
@model Routing_Examples.Pages.ProductDetails.Index

@{
    ViewData["Title"] = "ProductDetails";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<h1>@Model.Selected.Name</h1>

<d1>
    <dt>Price</dt>
    <dd>$@Model.Selected.Price</dd>
</d1>
</body>
</html>