@page "{currencyIn}/{currencyOut}"
@model CurrencyConverter.Pages.Convert

@{
    ViewData["Title"] = "Convert Currency";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<h1>Currency Out</h1>
<p>@Model.Values</p>
</body>
</html>