@page "{number: int}"
@model CalculatorBinding.Pages.CalculateSquare

@{
    ViewData["Title"] = "Calculate Square";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<h1>Calculating Squares</h1>
    <p>The Sqaure of @Model.Input is @Model.Square</p>
</body>
</html>